.burgerLine {
  transform-origin: 0;
  background: #fff;
  display: block;
  position: relative;
  border-radius: 3px;
  width: 26px;
  height: 3px;
  &::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: -9px;
    width: 26px;
    height: 3px;
    background: #fff;
  }
  &::before {
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    width: 26px;
    bottom: -9px;
    height: 3px;
    background: #fff;
  }
}
